page-shezhi {
    overflow: auto;
    .header{
        height: 50px;      
        background-color: rgb(248, 248, 248);
        border-bottom: none;
        padding-top:3%;
        p{
        font-size: 1em;
        display: inline;
        margin-left: 30%;                
        }
        i{
            font-size:15px;
            color: rgb(50, 122, 206);
        }
    }
    
    .list{
        font-size: 13px;
    }

    .tuichu{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 15%;
        width: 70%;
    }





}

