<!-- 侧边菜单 -->
<ion-menu [content]="content" class="menu">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title style="text-align:center;">分类</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content>
    <ul>
      <li style="text-align:left;margin-left:30px ">
        <i class="iconfont icon-radiobutton2"></i>分类</li>
      <li (click)="goEssays()">
        <i class="iconfont icon-pencil"></i>
        随笔
      </li>
      <li (click)="goFoods()">
        <i class="iconfont icon-meishi"></i>
        美食
      </li>
      <li (click)="goEmotions()">
        <i class="iconfont icon-zuanshi"></i>
        情感
      </li>
      <li (click)="goEncouragements()">
        <i class="iconfont icon-power"></i>
        励志
      </li>
      <li (click)="goTravel()">
        <i class="iconfont icon-theearthdiqiu"></i>
        旅行
      </li>
      <li (click)="goMusic()">
        <i class="iconfont icon-yinle"></i>
        音乐
      </li>
      <li (click)="goMovie()">
        <i class="iconfont icon-iconset0129"></i>
        影视
      </li>
    </ul>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<!-- 标题栏 -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>精选</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- 轮播图 -->
  <ion-slides pager="true" autoplay="1000" loop="true" class="sli">
    <ion-slide *ngFor="let src of srcs">
      <img src="{{ src }}" alt="">
    </ion-slide>
  </ion-slides>

  <!-- 卡片 -->
  <ion-card *ngFor="let assey of asseys">
    <img src="{{ assey.imgSrc }}" (click)="goSightmore()">
    <ion-card-content (click)="goSightmore()">
      <ion-card-title>{{ assey.title }}</ion-card-title>
      <p>{{ assey.inner }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col col-8>
        <ion-item (click)="goPersonal()">
          <ion-avatar item-start>
            <img src="{{ assey.iconSrc }}">
          </ion-avatar>
          <h2 style="text-align: left;">{{ assey.name }}</h2>
          <p style="text-align: left">{{ assey.talk }}</p>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div (click)="like()">{{ assey.likes }}</div>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{ assey.comments }}</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- 下拉刷新 -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
