page-sight {
  ion-navbar {
    text-align: center;

    ion-title {
      background-color: rgb(247,247,247);
      padding-right: 54px;
    }
  }

  ion-content {
    .fixed-content{
      background-image: url('../../assets/imgs/14.jpg');
      background-size: cover;
    }
    .item-md {
      padding: 0;
    }

    .icon-jingxuan:before {
      font-size: 23px;
    }

    .icon-pencil:before {
      font-size: 23px;
    }

    .icon-meishi:before {
      font-size: 23px;
    }

    .icon-heart:before {
      font-size: 23px;
    }

    .icon-power:before {
      font-size: 23px;
    }

    .icon-theearthdiqiu:before {
      font-size: 23px;
    }

    .icon-yinle:before {
      font-size: 23px;
    }

    .icon-iconset0129:before {
      font-size: 23px;
    }

    ul {
      padding: 0;
      margin: 0;
      text-align: center;
    }

    li {
      padding-right: 23px;
      font-size: 20px;
      line-height: 60px;
      list-style-type: none;
      
    }

    .item-inner {
      padding-left: 0;
      line-height: 50px;
      font-size: 1.1em;
      text-align: center;
      border: none;
    }

    .sli {
      margin-top: 2px;
      margin-bottom: 3px;
      height: 200px;
      width: 100%;
    }

    .card {
      border: 1px solid darkgray;
      margin-top: 20px;
    }

    ion-card {
      .card-title-md {
        margin: 4px 0;
      }

      .col {
        height: 66px;
        line-height: 44px;
      }

      p {
        text-indent: 2em;
      }
    }
  }
}
