page-swicity {
    .neirong{
        background-color: white;
    }
    h2{
        font-weight: bold;
        color: black;
    }
    p{
        font-size: 16px;
        color: gray;
    }
    hr{
        border:1 dashed grey;
        width:80% ;
        color:grey ;
        size:1
    }
    span{
        font-size: 16px;
        color: black;
    }
}
