page-feedback {
    #button{
        background:url(../../assets/imgs/add.png) no-repeat -54px -35px;
        width:100px;
        height:100px;
        border:0px;
        cursor:pointer;
        }
}
