<!--
  Generated template for the EssaymorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngFor="let arr of arr">
  <ion-navbar>
    <ion-row>
      <ion-col col-8>
        <h5 class="title">{{ arr.title }}</h5>
      </ion-col>
      <ion-col col-3>
        <i class="iconfont icon-shoucang" style="font-size:1.5em;"></i>
      </ion-col>
      <ion-col col-1>
        <i class="iconfont icon-share" style="font-size:1.5em;"></i>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content *ngFor='let arr of arr'>
  <div class="div">
    <!-- <img src="{{arr.img}}"> -->
    <div padding>
      <h2>{{arr.title}}</h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;作者/{{arr.username}}</p>
      <p style="text-indent: 2em;">{{arr.msg}}</p>
      <p class="date">{{arr.date}}</p>
    </div>
    <p></p>
    <p></p>
    <!-- 底部-->
    <ion-row>
      <ion-col col-5 class="left">
        <div class="img">
          <img src="{{ arr.tx }}">
        </div>
        <a class="username">{{ arr.username }}</a>
      </ion-col>
      <ion-col col-3 class="guanz">
        <button ion-button block outline >
          关注
        </button>
      </ion-col>
      <ion-col col-4 class="likes">
        <i class="iconfont icon-xihuan" id="like"></i>
        <span>{{arr.likes}}</span>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <span>评论</span>
    <p></p>
    <p></p>
    <input type="txt" placeholder="有什么感想？快来评论吧" style="width:100%">
  </div>
</ion-content>

