page-switch-account {
    .c1{
        margin-top: 180px;
        text-align: center;
    }
    .c2{
        text-align: center;
        margin-top: 80px;
        img{
            height: 100px;
            width: 100px;   
        }
    }
    .c21{
        margin-left: 20%;
        float: left;
    }
    .c22{
        margin-left: 5%;
        float: left;
    }
}
