page-help {
    .right{
        margin-left: 200px; 
        font-size: 14px;
        color: gray;
        
    }
    .a1{
        background-color:white;
        text-align: left;
        color:black;
        padding: 5px 5px;
    }
}
