<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

  <div padding class="top">
    <ion-segment color="rgb(248,248,248)" [(ngModel)]="info">
      <ion-segment-button value="通知">
        通知
      </ion-segment-button>|
      <ion-segment-button value="私信">
        私信
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>


<ion-content>

  <!-- 下拉刷新 -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="刷新...">
    </ion-refresher-content>
  </ion-refresher>


  <div id="bottom" class="bottom" [ngSwitch]="info">
    <ion-list *ngSwitchCase="'通知'">
      <ion-item>
        <!--通过ion-avatar 来设置头像,可以将方形的，设置成为圆形的头像-->
        <ion-avatar item-start>
          <img src="../assets/imgs/icon.png">
        </ion-avatar>
        <h2>简小语</h2>
        <p>欢迎！</p>
        <p>欢迎使用简语！这里有帮助哦！</p><br />
        <p style="font-size:12px; ">slide for more</p>
        <!--表示在列表的后面-->
        <p item-end class="time">{{this.hour}}:{{this.minute}}</p>
      </ion-item>
    </ion-list>
    <!-- 私信 -->
    <!-- <ion-list *ngSwitchCase="'私信'">
        <ion-item (click)="clickItem(item)" *ngFor="let item of users">
            通过ion-avatar 来设置头像,可以将方形的，设置成为圆形的头像
            <ion-avatar  item-start>
                <img src="{{item.img}}">
            </ion-avatar>
            <h2>{{item.name}}</h2>
            <p>{{item.description}}</p>
            表示在列表的后面
            <p item-end class="time">{{this.hour}}:{{this.minute}}</p>
          </ion-item>
        </ion-list> -->
    <ion-list *ngSwitchCase="'私信'">
      <ion-item *ngFor="let chat of chats" (click)="pushChatPage()">
        <ion-avatar item-start>
          <img [src]="chat.imageUrl">
        </ion-avatar>
        <h2>{{chat.title}}</h2>
        <p>{{chat.lastMessage}}</p>
        <ion-note item-end>{{chat.timestamp | date:'HH:mm'| lowercase}}</ion-note>
      </ion-item>
    </ion-list>

  </div>



</ion-content>
