page-me {color: blue;
  .tou {
    margin: 0 auto;
    width: 130px;
    height: 150px;
    position: relative;
    top: 20px;
    text-align: center;

    p {
      font-size: 15px;
      color: white;
    }
  }

  .my {
    width: 90px;
    height: 60%;
    border-radius: 50% 50%;
    margin-top: 30px;
  }
  .bgmy{
    background-image: url("../../assets/imgs/18.jpg");
    background-size: cover;

  }
  .bgmy {
    height: 16em;
    text-align: center;

    p {
      font-size: 16px;
      color: rgb(31, 69, 104);
    }
  }

  .y {
    padding-left: 7%;
    padding-right: 7%;
    height: 35%;
    i {
      font-size: 23px;
    }

    p {
      text-align: center;
    }
  }
  .u {color: rgb(32, 68, 102);
    // height: 80%;
    background-color: white;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 50% 50%;
    box-shadow: 1px 1px 3px rgb(184, 182, 182);
    // margin: 0;
    margin-left: 4.2%;
    margin-right: 4.2%;
  }

  .row {
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;

    .col {
      font-size: 11px;
    }
  }

  .a {
    background-color: white;
    height: 9.5em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    color: rgb(25, 89, 150);
  }

  .list {
    font-size: 13.5px;
    color:  rgb(32, 68, 102);
    border: none;
  }
}
