page-welcome {
    ion-slide {
        background-color: #eeeeee;
      }
    
      ion-slide img {
        max-height:100%;
        max-width: 100%;
      }
      .bg{
        background-image: url(../../assets/imgs/welcome4.png) ;
        width:460px;
        height:793px;
      }
        .bg1{
                position: absolute;
                display:block;
                bottom: 80px;
                left:180px;
                
                
        }
        button{
            opacity: 1;
            width: 100px;
            height: 30px;
            font-size: 20px;
            font-weight: bold;
        }
    }
