page-encouragement {
    ion-title{
        padding-right: 54px;
        text-align: center;
    }
    ion-content{
        ion-card {
            position: relative;
            text-align: center;
            border-radius: 3px;
            height: 160px;
            ion-item{
                text-align: center;
            }
        }
        .left{
            width: 45%;
            height: 100%;
            float: left;
            padding: 3px;
            overflow: hidden;
            img{
                height: 100%;
            }
        }
        .right{
            float: right;
            width:55%;
            text-align:left;
            padding: 5px;
            .card-inner{
                max-height:100%;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
	            -webkit-line-clamp: 4; 
	            -webkit-box-orient: vertical;
            }
            .tx{
                width: 100%;
                padding-top: 1em;
                img{
                border-radius: 50% 50%;
                width: 2em;
                height: 2em;
                float: left;
                }   
            }
            .name{
                // float: left;
                position: absolute;
                bottom: 1em;
                width: 2em;
                height: 1.5em;
                overflow: hidden;
            }
            #like{
                font-size: 2em;
                float: right;
                color: red;
            }
        }
        .card-title {
            height:1.5em;
            width: 100%;
            font-size:1em;
            font-weight: bold;
            color: rgb(41, 23, 23);
            text-align: center;
            overflow: hidden;
        }
        .card-inner{
            overflow: hidden;
            height: 100%;
        }
         .card-subtitle {
             font-size: 14px;
             color:red;
             margin-top: 10px;
             margin-left: 170px;
         }
    }
}
