<!--
  Generated template for the EncouragemorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngFor="let arr of arr">
  <ion-navbar>
    <ion-row>
      <ion-col col-8>
        <h5 class="title">{{ arr.title }}</h5>
      </ion-col>
      <ion-col col-2>
        <!-- 收藏、取消收藏 -->
        <ion-icon name="star-outline" (click)="isCollect()" id="star"></ion-icon>
      </ion-col>
      <ion-col col-2>
        <!-- 分享 -->
      <ion-icon name="share" style="font-size:1.5em;float:right;padding-top:0.2em;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content *ngFor='let arr of arr'>
  <div class="neirong">
    <img src="{{arr.img}}">
    <div padding>
      <h2>{{arr.title}}</h2>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;作者/{{arr.name}}</p>
      <p style="text-indent: 2em;">{{arr.msg}}</p>
      <p class="date">{{arr.date}}</p>
    </div>

    <!-- 底部-->
    <ion-row>
      <ion-col class="left">
        <div class="tx" (click)="goPersonal()">
          <img src="{{ arr.tx }}">
        </div>
        <a class="username" (click)="goPersonal()">{{ arr.name }}</a>
      </ion-col>
      <ion-col  class="guanz">
        <button id="follow" (click)="show1()">
          <span id="true">关注</span>
          <span id="false">已关注</span>
        </button>
      </ion-col>
      <ion-col class="likes">
        <!-- <ion-icon name="star-outline" class="like" (click)="isLike()"></ion-icon> -->
         <ion-icon name="heart-outline" class="like"  (click)="isLike()"></ion-icon>
        <span>{{arr.likes}}</span>
      </ion-col>
    </ion-row>
    </div>

  <!--评论-->
  <div>
    <span>评论</span>
    <p></p>
    <p></p>
    <input type="txt" placeholder="有什么感想？快来评论吧" style="width:100%">
  </div>
</ion-content>
