page-video {

ion-title{
    text-align: center;
}
ion-content{
    background-image: url("../../assets/imgs/4.jpg");
    p{
        text-indent: 2em;
        text-align: left;
        max-height: 8.5em;
        overflow: hidden;
    }
    .slide-zoom{
        position: absolute;
        top:2em;
    }
    ion-row{
        position: absolute;
        bottom:1em;
    }
    ion-card{
        height: 30em!important;
        border-color: 1px solid pink;
        ion-card-content{
            text-align: left;
        }
    }
    .item{
        padding: 0;
    }
    vg-player{
        height:15em;
        width: 100%;
        overflow: hidden;
        video{
            height: 100%;
            width: 100%;
        }
    }
}
}
